/kube/auth-service/secrets
/kube/auth-service/values.yaml
/kube/profile-service/secrets
/kube/profile-service/values.yaml
/kube/databases/values
/kube/api-gateway/values.yaml
/kube/api-gateway/secrets
